PORT=8000
MNG_USR="admin"
MNG_PSWD="dev123"
MNG_DB="medsupport"
GOOGLE_APPLICATION_CREDENTIALS="461068153955-u0m6ovd3e65spkika2vqf9tlbjq4knui.apps.googleusercontent.com"
GOOGLE_DRIVE_DEV_KEY="AIzaSyDHNiuacWyJVS94t6VGTHSr0OUbXK3wVz0"
GOOGLE_DISK_FOLDER_ID="1yC9aE5xGBLScv4f7oAC57KZKycLuCGxk"
SECRET="medsupport-secret-key-ex"
GMAIL_USER=""
GMAIL_PASSWORD=""
GOOGLE_SEARCH_API_KEY = "AIzaSyBeWtqVxnhy7PJr7WSp97r1dP0VbmKjvrs"
GOOGLE_SEARCH_ENGINE_ID = "f6ed51d8bd85edd3b"
CMS_URL="http://localhost:1337"
# Strapi admin user email (identifier used for /auth/local)
CMS_IDENTIFIER=""
# Strapi admin user password
CMS_PASSWORD=""
