PORT=8000
MNG_USR="admin"
MNG_PSWD="dev123"
MNG_DB="medsupport"
GOOGLE_APPLICATION_CREDENTIALS="461068153955-u0m6ovd3e65spkika2vqf9tlbjq4knui.apps.googleusercontent.com"
GOOGLE_DRIVE_DEV_KEY="AIzaSyDHNiuacWyJVS94t6VGTHSr0OUbXK3wVz0"
SECRET="medsupport-secret-key-ex"
GMAIL_USER=""
GMAIL_PASSWORD=""
